@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'poppins', sans-serif;
}

body {
  background-color: #fff;
}

.cover {
  background-image: url(images/header-mobile.png);
  padding-left: 24px;
  padding-right: 24px;
  background-color: #fff;
}

.header_margin {
  margin: 0 24px;
}

#header {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 0;
  color: blue;
  font-size: 16px;
  padding: 10px;
}

/* mobile menu */

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 27px;
  height: 16px;
  cursor: pointer;
}

.bar {
  background-color: blue;
  height: 1.9px;
}

.mobile-menu.active .bar:nth-child(2) {
  opacity: 0;
  transition: 0.3s ease;
  background: blue;
}

.mobile-menu.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background: whitesmoke;
  transition: 0.2s ease;
  height: 4px;
}

.mobile-menu.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background: white;
  transition: 0.6s ease;
  height: 4px;
}

.nav_icon-two {
  list-style-type: none;
  left: -100rem;
  height: 100%;
  flex-direction: column;
  position: fixed;
  backdrop-filter: blur(8px);
  background: #6070ff;
  width: 100%;
  transition: 0.5s ease;
  mix-blend-mode: multiply;
}

.nav_icon-two li {
  padding: 40px 0 0 28px;
}

.resume a {
  text-decoration: none;
  color: #396df2;
}

.nav_icon-two .nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
}

.logo a {
  font-size: 18px;
  text-decoration: none;
  color: blue;
}

.connect a {
  text-decoration: none;
  color: #7f8cff;
}

.action a {
  color: #396df2;
  text-decoration: none;
  border-radius: 8px;
}

.upper-part {
  margin-left: 24px;
  margin-right: 24px;
}

.about-connect a {
  text-decoration: none;
  color: #7f8cff;
}

.nav_icon-two .nav-link a {
  color: white;
  font-size: 100px;
  text-decoration: none;
}

.nav_icon-two.active {
  left: 0;
}

.links ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
  padding-bottom: 138px;
}

.frame-2 ul {
  display: flex;
  padding: 0;
  color: #6b778c;
}

.tags ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  gap: 8px;
  margin-left: 16px;
  margin-top: 12px;
}

.about-tags ul {
  display: flex;
  list-style: none;
  gap: 21px;
  padding-left: 11px;
}

.language-list ul {
  list-style: none;
}

.contact ul {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.5em;
  list-style-type: none;
}

.logo-icon {
  padding: 0.1rem 1.5rem 0 0;
}

.nav_icon {
  margin: 8px;
}

.page-one {
  padding-top: 133px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.for-big-size {
  display: none;
}

.page-one .for-big-size {
  display: none;
}

.page-one h1 {
  font-size: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  min-width: 327px;
  min-height: 150px;
  color: #091e42;
}

.part-one p {
  min-width: 327px;
  min-height: 146px;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect {
  margin-bottom: 12px;
}

/* mid section */

#mid {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  row-gap: 88px;
  background-color: #fff;
}

.left-block {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #def1e6;
}

.primary-image {
  border-radius: 8px;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 12px;
}

.title h1 {
  margin-bottom: 20px;
  margin-left: 16px;
  margin-right: 16px;
  color: #091e42;
}

.frame-2 {
  margin-bottom: 20px;
  margin-left: 16px;
}

.frame-2 .for-big-size {
  display: none;
}

.frame-2 ul li {
  margin-right: 32px;
}

.primary-text {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  max-width: 295px;
  max-height: 76px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.tags {
  margin-bottom: 40px;
  margin-left: 0;
  color: #6070ff;
}

.tags ul li {
  line-height: 16px;
  letter-spacing: 3%;
  background-color: #ebebff;
  border-radius: 8px;
  display: flex;
  padding: 1%;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
}

.action {
  margin-left: 16px;
  margin-bottom: 40px;
  border: solid #6070ff;
  width: 124px;
  height: 48px;
  padding: 12px;
  font-weight: 500;
  border-radius: 8px;
  color: #396df2;
}

/* About section */

.about-myself {
  max-width: 327px;
  max-height: 101px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 12px;
  margin-top: 144px;
  color: #091e42;
}

.about-text {
  max-width: 327px;
  max-height: 144px;
  font-size: 16px;
  margin-bottom: 12px;
  color: #344563;
}

.about-connect {
  margin-bottom: 16px;
  color: #7f8cff;
}

.resume {
  height: 48px;
  width: 162px;
  left: 375px;
  top: 4769px;
  border-radius: 8px;
  margin-top: 34px;
  padding: 12px;
  color: #396df2;
  margin-bottom: 60px;
  border: 1px solid #6070ff;
}

.action:hover {
  background-color: #ebebff;
  color: white;
}

.action a:hover {
  color: white;
}

.resume:hover {
  color: white;
  background-color: #7f8cff;
}

.languages {
  margin-left: 36px;
  display: flex;
  margin-bottom: 36px;
  color: #344563;
}

.lang {
  width: 237px;
  height: 24px;
  margin-right: 26px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.language-list ul li {
  width: 303px;
  height: 66.72px;
  display: flex;
  margin-bottom: 12px;
  background-color: #f7f7f9;
  margin-right: 36px;
}

.nav_icon-two li:first-of-type {
  padding-top: 106px;
}

.frame-2 ul > li:first-of-type {
  list-style: none;
  font-weight: 600;
}

.language-list ul .icon-image {
  margin-right: 16px;
  height: 48px;
  width: 48px;
  left: 12px;
  top: 9px;
  border-radius: 0;
}

.language-list ul .icon-name {
  height: 24px;
  width: 215px;
  padding-top: 21px;
  margin-right: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.frame-works {
  display: flex;
  margin-left: 32px;
  margin-top: 36px;
  margin-bottom: 23px;
}

.frame-work-name {
  width: 237px;
  height: 24px;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.frame-work-image {
  height: 6px;
  width: 12px;
  left: 6px;
  top: 9px;
  border-radius: 0;
}

.skills {
  display: flex;
  margin-left: 36px;
  margin-top: 48px;
  margin-bottom: 23px;
}

.skill-name {
  height: 24px;
  width: 237px;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.after-skills {
  margin-bottom: 137.85px;
}

/* email-validation-javascript */

.email-validation.active {
  color: red;
  display: flex;
  padding-left: 5rem;
  animation: opacityOn 2s normal forwards;
  animation-delay: 0s;
};

@keyframes opacityOn {
  0% {
      opacity: 0;
  }
  30% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

/* contact me section */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

.contact {
  width: 100%;
  background-color: #6070ff;
  color: white;
  background-image: url("images/contact-form.svg");
  background-position: right;
  background-size: cover;
  background-repeat: none;
  border-radius: 6.5em 0 0 0;
  margin-top: -3.5em;
}

.contact h2 {
  font-size: 2em;
  text-align: center;
  padding-top: 3em;
  margin: 0;
}

.contact p {
  text-align: center;
  margin: 0 2em;
  padding-top: 1em;
}

form {
  width: 23.5em;
  margin: 0 auto;
}

#full-name {
  font-size: 0.9em;
  width: 20.4em;
  padding: 0.7em;
  margin-bottom: 1em;
  border: none;
  font-family: 'Poppins', sans-serif;
  border-radius: 0.5em;
}

#e-mail {
  font-size: 0.9em;
  width: 20.4em;
  padding: 0.7em;
  margin-bottom: 1em;
  border: none;
  font-family: 'Poppins', sans-serif;
  border-radius: 0.5em;
}

#Message {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  width: 20.5em;
  height: 10em;
  margin-left: 0;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
}

#btn {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 0.9em;
  color: #6070ff;
  border-radius: 0.5em;
  border: none;
  padding: 0.7em;
  margin-left: 60px;
  width: 11em;
  cursor: pointer;
}

#btn:hover {
  color: white;
  background-color: #7f8cff;
}

.for-big-size p {
  padding-top: 0;
}

.tags .for-big-size {
  display: none;
}

/* desktop version */

@media all and (min-width: 768px) {
  #header {
    padding-top: 0;
    margin: 0 0 0 155px;
    position: fixed;
    top: -8px;
    width: 100%; 
  }

  #header .nav_icon-two {
    left: 0;
    flex-direction: row;
    backdrop-filter: blur(0);
    transition: 0.5s ease;
    background-color: white;
    gap: 0;
    padding: 5px 0 0 60rem;
    height: 5rem;
    margin-right: 15rem;
  }

  .language-list ul li {
    display: flex;
    flex-direction: column;
    max-width: 122px;
    height: 120px;
    padding: 10px;
    width: fit-content;
  }

  .frame-2 ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  #header .nav_icon-two li {
    padding: 0;
    margin-right: 100px;
    display: flex;
  }

  #header .nav_icon-two .nav-link {
    padding: 0;
    margin: 0;
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    display: flex;
  }

  .mobile-menu {
    display: none;
  }

  .nav_icon ul {
    display: block;
  }

  /* page one */

  .for-big-size {
    display: block;
  }

  .for-big-size p {
    padding-top: 0;
  }

  .tags .for-big-size {
    display: flex;
  }

  .frame-2 ul {
    margin-left: 0;
  }

  .tags ul {
    margin-left: 0;
  }

  .languages .lang {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
    padding-right: 500px;
  }

  .language-list ul {
    display: flex;
    flex-direction: row;
  }

  .language-list .icon-name {
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }

  .lower-part .frame-works {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  .skills {
    margin-bottom: 23px;
    margin-top: 24px;
  }

  .lower-part .skills {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  .action {
    border: 1px solid #6070ff;
  }

  a {
    text-decoration: none;
  }

  #third-page ul {
    margin: 0 auto 32px 48px;
  }

  #header .nav_icon ul {
    display: flex;
    list-style: none;
    margin-left: 1%;
  }

  nav ul li a {
    margin-right: 130px;
    list-style-type: none;
  }

  #header .nav_icon ul li:last-of-type {
    margin-right: 0;
  }

  #header .nav_icon .logo-icon {
    display: none;
  }

  #first_page {
    background-image: url(images/Header\ bg@2x.png);
    background-size: cover;
  }

  .cover {
    background-image: none;
  }

  .title h1 {
    margin-left: 0;
    padding: 0;
  }

  .right h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  #first_page .for-big-size {
    display: inline;
    margin-left: 260px;
    padding-top: 281px;
    margin-bottom: 12px;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.3700000047683716px;
    text-align: left;
    color: #091e42;
  }

  .upper-part p {
    margin-left: 0;
    margin-top: 12px;
    max-width: 447px;
  }

  .contact p {
    margin-left: 436px;
    margin-right: 434px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 450px;
  }

  .right p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  #first_page p {
    margin-left: 260px;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
  }

  #first_page .connect {
    margin-left: 260px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #7f8cff;
  }

  #first_page .links ul {
    margin-left: 260px;
    padding: 0;
    padding-bottom: 178px;
  }

  /* page two */

  #mid {
    display: grid;
    grid-template-columns: 142px 1fr 142px;
  }

  .left-block {
    grid-column: 2;
    flex-direction: row;
  }

  #grid-eight {
    align-items: left;
  }

  #grid-two p {
    margin-left: 46px;
    max-width: 419px;
  }

  #grid-two .tags ul {
    margin-top: 35px;
  }

  #second-page .left {
    margin-top: 48px;
    margin-left: 46px;
  }

  #third-page h1 {
    margin: 48px 46px 20px 48px;
  }

  #fourth-page h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  #second-page .left h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    color: #091e42;
  }

  #third-page p {
    margin: 0 auto 32px 48px;
    max-width: 498px;
  }

  #grid-six p {
    padding-bottom: 26px;
    padding-top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  #page-five p {
    padding-bottom: 26px;
    padding-top: 32px;
  }

  #second-page .left p {
    padding-top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  #grid-two .primary-text {
    margin-left: 0;
    padding-left: 0;
  }

  #grid-two .tags {
    margin-left: 0;
  }

  .frame-2 {
    margin: 0;
    padding-bottom: 0 0 0 20px;
  }

  .left .action {
    margin-left: 0;
  }

  .for-small-size {
    display: none;
  }

  /* page three */

  #third-page {
    flex-direction: row-reverse;
  }

  .right {
    flex: 1;
  }

  #third-page .frame-2 {
    margin: 0;
    padding: 0;
  }

  .frame-2 .action {
    margin-left: 60px;
  }

  #third-page .action {
    margin: 0 auto 32px 48px;
  }

  /* page four */

  #fourth-page .left {
    padding-top: 48px;
    padding-left: 46px;
  }

  .left .for-small-size {
    display: none;
  }

  /* page five */

  #page-five {
    display: flex;
    flex-direction: row-reverse;
  }

  #page-five #grid-eight h1 {
    margin-bottom: 12px;
    text-align: left;
    color: #091e42;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  #page-five .right {
    margin-left: 48px;
    margin-top: 48px;
  }

  .right .for-small-size {
    display: none;
  }

  /* About page */

  .about-block {
    display: flex;
    flex-direction: row;
    padding-left: 142px;
    padding-right: 142px;
  }

  .upper-part {
    display: flex;
    flex-direction: column;
  }

  .about-myself {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .about-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    width: 300px;
  }

  .about-connect {
    margin-top: 12px;
  }

  .upper-part .resume {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .lower-part {
    margin-top: 166px;
    margin-left: 49px;
  }

  .frame-work-name {
    padding-right: 500px;
  }

  .after-frame-works {
    margin-top: 23px;
  }

  .skill-name {
    padding-right: 500px;
  }

  .after-skills {
    margin-bottom: 20px;
  }

  /* contact page */

  .contact-section {
    margin-top: 146px;
  }

  .contact {
    background-image: url(images/contact\ form-\ background-shape-desktop.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact h2 {
    margin-left: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  #btn {
    margin-left: 80px;
    margin-bottom: 139px;
  }
}
